#Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  font-size: 1.25rem;
}

.menuIcon {
  display: inline-block !important;
}

.menuIcon .bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}